.my-navbar{
    opacity: .7;
}
.my-con-1{
    background-color: rgb(57, 192, 57);
    padding: 20px;
    font-size: 2rem;
}
.my-con-3{
    padding-left: 300px;
    padding-top: 100px;
}
.pd{
  padding: 50px;
}
.my-con-4{
    padding-left: 210px;
    color: rgb(114, 161, 114);
    font-size: large;
}
.testimonials-clean {
    color:#313437;
    background-color:#eef4f7;
  }
  
  .testimonials-clean p {
    color:#7d8285;
  }
  
  .testimonials-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .testimonials-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom:0;
  }
  
  .testimonials-clean .people {
    padding:50px 0 20px;
  }
  
  .testimonials-clean .item {
    margin-bottom:32px;
  }
  
  @media (min-width:768px) {
    .testimonials-clean .item {
      height:220px;
    }
  }
  
  .testimonials-clean .item .box {
    padding:30px;
    background-color:#fff;
    position:relative;
  }
  
  .testimonials-clean .item .box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
  }
  
  .testimonials-clean .item .author {
    margin-top:28px;
    padding-left:25px;
  }
  
  .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
  }
  
  .testimonials-clean .item .title {
    font-size:13px;
    color:#9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
  }
  
  .testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
  }
h4{
    color: rgba(255, 255, 240, 0.103);
}
h3{
    color: rgba(255, 255, 240, 0.103);
}
.my h3,p{
    color: ivory;
}
.my-2 p,h4{
    color: rgba(255, 255, 240, 0.103);
}
.p1 p{
    color: ivory;
}
.p2 p{
    color: rgba(255, 255, 240, 0.103);
}
.box2{
  padding-top: 20px;
}
.box{
  padding-top: 60px;
}
.box h4{
  color: #313437;
}